body {
    /* Black background */
    background-color: black;  
}

/* Flex-container */
.container {
    display: flex;
    /* Fullscreen width of the flex-container */
    width: 98vw;
    /* Fullscreen height of the flex-container */
    height: 98vh;
    /* Horizontal centering flex-items inside of the flex-container */
    justify-content: center;
    /* Vertical centering flex-items inside of the flex-container */
    align-items: center;
}

/* Flex-item */
.content {
    /* Color of the content */
    color: white;
    /* Font of the content */
    font-family: 'Segoe UI';
    /* Weight of the content */
    font-weight: bold;
    /* Size of the content */
    font-size: 17vw;
    /* Centering the content inside of the flex-item */
    text-align: center;
}